#skillset {
  /* width: 150px;
  height: 150px; */
  padding: 10px;
}

h2 {
  margin: 10px;
  font-size: 24px;
  background-color: lightgrey;
  font-family: "Fredericka the Great", cursive;
}

/* #content {
  padding: 30px;
} */

@media (max-width: 768px) {
  /* width: 100px;
  height: 100px; */
  padding: 10px;
}

@media (max-width: 576px) {
}
